{#
/**
 * @file
 * Default theme implementation for a webform required indicator.
 *
 * Available variables:
 * - label: The required indicator label.
 *
 * @ingroup themeable
 */
#}
<div class="row-spacer-16"></div>

<div class="webform-required">
  <span class="form-required"></span><p>* {{ label }}</p>
</div>

<div class="row-spacer-16"></div>

