/**
 * @file
 * Subtheme specific CSS.
 */
.with-sidemenu .text-field{
  width: 100% !important;
}
.col-8 .text-field, .col-9 .text-field, .col-7 .text-field, .col-6 .text-field, .col-5 .text-field, .col-4 .text-field, .col-3 .text-field
  {
    width: 100% !important;
  }
.row-spacer-40 {
  padding-top: 40px;
}

.js input.form-autocomplete {
  background-image: unset;
}
.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: unset;
}
.user-login-form {
  margin-top: 5em;
}
.gallery-thumbs .visible-thumb{
  width: 25%;
  padding: unset;
  padding-right: 0.5rem;
}

.search-api-autocomplete-search {
  background: var(--white);
  border: 0.0625rem solid var(--grey-400);
  border-radius: 0 0 1.25rem 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);
}
